<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../style/retro.css" />
    <link rel="icon" type="image/png" href="../../images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Arbutus" rel="stylesheet">
    <title>FOFCVCE</title>
</head>

<body>
    <header>
        <nav id="top-nav">
            <img src="../../images/favicon.png">
            <span class="spacer"></span>
            <a href="../inscription/index.html">Inscription</a>
        </nav>
        <h1>Fictional original fantastic computer virtual console experience</h1>
        <nav>
            <a href="../../index.html">Accueil</a>
            <a href="../Xbox/index.html">Xbox One</a>
            <a href="../PS4/index.html">PS4</a>
            <a href="../NSwitch/index.html">Nintendo Switch</a>
            <a id="currentPageLink">Console rétro</a>
        </nav>
    </header>

    <section class="flexbox">
        <div id="gauche">
            <span>Boutique</span>
            <ul>
                <li>
                    <a href="">
                        <img src="../../images/joystick.png">Manette</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/mouse.png">Accessoires</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/ecran.png">Écrans</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/pacman.png">Jeux</a>
                </li>
                <li>
                    <a href="../Retro/index.html">
                        <img src="../../images/retro.png">Découverte rétro</a>
                </li>
            </ul>
            <span>À propos</span>
            <p>Ce site web est un portail pour tout ce qui est en lien avec les platformes informatiques tels que les ordinateurs
                et consoles</p>
        </div>
        <div id="milieux">

        </div>
    </section>

    <footer>
        <p>&copy; INF1493 Projet : Fictional original fantastic computer virtual console experience, présenté à Daniel Yapi.
            Tous droits réservés.
            <br>Réalisé par François-Xavier Mousseau
            <br> juin 2018
        </p>
    </footer>
</body>

</html>