<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/retro.css" />
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="../../style/mediaQueryRetro.css" />
    <link rel="icon" type="image/png" href="../../images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Arbutus" rel="stylesheet">
    <title>FOFCVCE</title>
</head>

<body>
    <header>
        <nav id="top-nav">
            <img src="../../images/favicon.png">
            <span class="spacer"></span>
            <a href="../inscription/index.html">Inscription</a>
        </nav>
        <h1>Fictional original fantastic computer virtual console experience</h1>
        <nav>
            <a href="../../index.html">Accueil</a>
            <a href="../Xbox/index.html">Xbox One</a>
            <a href="../PS4/index.html">PS4</a>
            <a href="../NSwitch/index.html">Nintendo Switch</a>
            <a id="currentPageLink">Console rétro</a>
        </nav>
    </header>

    <section class="flexbox">
        <div id="gauche">
            <span>Boutique</span>
            <ul>
                <li>
                    <a href="">
                        <img src="../../images/joystick.png">Manette</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/mouse.png">Accessoires</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/ecran.png">Écrans</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/pacman.png">Jeux</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/retro.png">Découverte rétro</a>
                </li>
            </ul>
            <span>À propos</span>
            <p>Ce site web est un portail pour tout ce qui est en lien avec les platformes informatiques tels que les ordinateurs
                et consoles.</p>
            <span id="reference">Référence</span>
            <p>Tous les textes descriptif de cette page viennent de wikipédia.</p>
        </div>
        <div id="milieux">
            <h1>Historique des consoles de Nintendo</h1>
            <!--Ajouter du texte et changer le css-->
            <ol>
                <li>
                    <div>
                        <h2>1. Nintendo Entertainment System
                            <span>(NES)</span>
                        </h2>
                        <span>1983</span>
                        <p>Console de jeux vidéo de génération 8 bits fabriquée par l'entreprise japonaise Nintendo et distribuée
                            à partir de 1985 (1987 en Europe). Son équivalent japonais est la Family Computer ou Famicom,
                            sortie quelques années avant, en 1983. En Corée du Sud,la NES porta le nom de Comboy</p>
                    </div>
                    <span class="spacer"></span>
                    <img src="../../images/NES.jpg">
                </li>
                <li>
                    <div>
                        <h2>2. Super Nintendo
                            <span>(SNES)</span>
                        </h2>
                        <span>1990</span>
                        <p>La Super Nintendo Entertainment System ou Super Famicom au Japon, est une console de jeux vidéo 16
                            bits du constructeur japonais Nintendo commercialisée à partir de août 1991. En Amérique du Nord,
                            la console est sortie avec un look résolument différent. À noter qu'en Corée du Sud, la Super
                            Nintendo est distribuée par Hyundai Electronics sous le nom de Super Comboy. Les consoles sont
                            zonées (Asie, Europe, Amérique) mais les différences concrètes sont minimes et aisément contournables.
                            La Super Nintendo est une console de génération 16 bits, conçue pour concurrencer la Mega Drive
                            de Sega (16 bits), la PC-Engine de NEC (8/16 bits), et la Neo-Geo AES de SNK (16 bits) </p>
                    </div>
                    <span class="spacer"></span>
                    <img src="../../images/SNES.jpg">
                </li>
                <li>
                    <div>
                        <h2>3. Nintendo 64</h2>
                        <span>1996</span>
                        <p>La Nintendo 64 également connue sous les noms de code Project Reality et Ultra 64 lors de sa phase
                            de développement, est une console de jeux vidéo de salon, du constructeur japonais Nintendo en
                            collaboration avec Silicon Graphics. Elle fut la dernière des consoles de cinquième génération
                            à être sortie, en concurrence avec la Saturn et la PlayStation. La Nintendo 64 a plusieurs particularités
                            : c'est une console « 64-bits » contrairement à ses principales concurrentes dites « 32-bits
                            ». l'entreprise a préféré le support cartouche, plus rentable pour Nintendo mais plus contraignant
                            pour le développement et plus cher que le support CD proposé par ses concurrents. Elle innove
                            en instaurant un stick analogique sur sa manette qui se révélera indispensable pour les jeux
                            en 3D temps réel . Elle était aussi la première console à disposer de quatre ports manettes pour
                            les jeux multijoueurs </p>
                    </div>
                    <span class="spacer"></span>
                    <img src="../../images/N64.jpg">
                </li>
                <li>
                    <div>
                        <h2>4. Nintendo GameCube</h2>
                        <span>2001</span>
                        <p>Semblable physiquement à un cube doté d'une anse pour évoquer la facilité du transport, la console
                            utilise un support de stockage unique nommé Nintendo Game Cube Optical Disc. Créé en collaboration
                            avec Matsushita, le disque a grandement été inspiré du DVD avec un changement spécial pour éviter
                            la copie. Nintendo a choisi ce mini format de 8 centimètres pour éviter les longs temps de chargement
                            présents dans les jeux des consoles concurrentes de sa génération. La GameCube est la console
                            la plus petite de sa génération avec des dimensions de 15 cm en largeur, 10 cm en hauteur et
                            15 cm de profondeur. Elle a été dessinée par Kenishiro Ashida qui voulait, en lui donnant ce
                            design, créer un objet compact et innovant.</p>
                    </div>
                    <span class="spacer"></span>
                    <img src="../../images/GameCube.jpg">
                </li>
                <li>
                    <div>
                        <h2>5. Wii</h2>
                        <span>2006</span>
                        <p>La Wii est une console de jeux de salon du fabricant japonais Nintendo, sortie en 2006. Console de
                            la septième génération, tout comme la Xbox 360 et la PlayStation 3 avec lesquelles elle est en
                            rivalité, elle est la console de salon la plus vendue de sa génération et a comme particularité
                            d'utiliser un accéléromètre capable de détecter la position, l'orientation et les mouvements
                            dans l'espace de la manette. La Wii a marqué un tournant dans l'histoire du jeu vidéo en ouvrant
                            ce loisir à un public plus large, et ciblant l'ensemble de la société.</p>
                    </div>
                    <span class="spacer"></span>
                    <img id="imageWii" src="../../images/wii.jpg">
                </li>
                <li>
                    <div>
                        <h2>6. Wii U</h2>
                        <span>2012</span>
                        <p>La Wii U est une console de jeu vidéo commercialisée par Nintendo, succédant à la
                            Wii. Elle est sortie le 18 novembre 2012 en Amérique du Nord, le 30 novembre 2012 en Europe et
                            le 8 décembre 2012 au Japon. Première console de jeu vidéo de huitième génération à sortir, elle
                            est en concurrence avec la PlayStation 4 et la Xbox One. La console est annoncée le 7 juin 2011,
                            durant l'E3 2011. La Wii U est la première console de salon à proposer une manette avec un écran
                            tactile intégré, le Wii U GamePad. Les deux principales nouveautés de la console sont apportées
                            par celui-ci. D'une part, le Wii U GamePad permet de continuer une partie, grâce à son écran
                            intégré, même lorsque la télévision n'est pas disponible, mais cette fonctionnalité n'est pas
                            présente avec tous les jeux. D'autre part en complément de manettes Wii, le contrôleur offre
                            en multijoueur une expérience de jeu dite d'« informations asymétriques », c'est-à-dire que les
                            joueurs ne disposent pas nécessairement des mêmes informations sur le GamePad par rapport à une
                            manette et un écran de télévision traditionnels. Enfin, il s'agit de la première console de Nintendo
                            à pouvoir générer des graphismes en haute définition.</p>
                    </div>
                    <span class="spacer"></span>
                    <img src="../../images/wiiU.png">
                </li>
            </ol>
        </div>
    </section>

    <footer>
        <p>&copy; INF1493 Projet : Fictional original fantastic computer virtual console experience, présenté à Daniel Yapi.
            Tous droits réservés.
            <br>Réalisé par François-Xavier Mousseau
            <br> juin 2018
        </p>
    </footer>
</body>

</html>