<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../style/PS4.css" />
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="../../style/mediaQueryPS4.css"/>
    <link rel="icon" type="image/png" href="../../images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Arbutus" rel="stylesheet">
    <title>FOFCVCE</title>
</head>

<body>
    <header>
        <nav id="top-nav">
            <img src="../../images/favicon.png">
            <span class="spacer"></span>
            <a href="../inscription/index.html">Inscription</a>
        </nav>
        <h1>Fictional original fantastic computer virtual console experience</h1>
        <nav>
            <a href="../../index.html">Accueil</a>
            <a href="../Xbox/index.html">Xbox One</a>
            <a id="currentPageLink">PS4</a>
            <a href="../NSwitch/index.html">Nintendo Switch</a>
            <a href="../Retro/index.html">Console rétro</a>
        </nav>
    </header>

    <section class="flexbox">
        <div id="gauche">
            <span>Boutique</span>
            <ul>
                <li>
                    <a href="">
                        <img src="../../images/joystick.png">Manette</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/mouse.png">Accessoires</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/ecran.png">Écrans</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/pacman.png">Jeux</a>
                </li>
                <li>
                    <a href="../Retro/index.html">
                        <img src="../../images/retro.png">Découverte rétro</a>
                </li>
            </ul>
            <span>À propos</span>
            <p>Ce site web est un portail pour tout ce qui est en lien avec les platformes informatiques tels que les ordinateurs
                et consoles</p>
        </div>
        <div id="milieux">
            <div>
                <h1>Différente composante faisant partie du hardware d'une PS4</h1>
                <span>Cliquer sur une composante pour l'acheter.</span>
                <img src="../../images/ps4-parts.jpg" usemap="#ps4partsmap">
                <map name="ps4partsmap" id="ps4partsmap">
                    <area shape="poly" coords="102,331,105,479,258,479,257,330" href="https://www.amazon.fr/s/ref=nb_sb_noss/262-4093566-6735109?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=boitier"
                        alt="Boitier du dessus" title="Boitier du dessus">
                    <area shape="poly" coords="272,343,277,383,410,381,410,338" href="https://www.amazon.fr/s/ref=nb_sb_noss/262-4093566-6735109?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=boitier"
                        alt="Connecteur" title="Connecteur">
                    <area shape="poly" coords="423,382,421,459,551,452,554,321,470,322,468,382" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=heatsink&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Aheatsink"
                        alt="heatsink" title="heatsink">
                    <area shape="poly" coords="107,169, 109,313,253,311,252,167" href="https://www.amazon.fr/s/ref=nb_sb_noss/262-4093566-6735109?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=boitier"
                        alt="Boitier du dessous" title="Boitier du dessous">
                    <area shape="poly" coords="272,168,273,321,414,319,413,172" href="https://www.amazon.fr/Informatique-composant-PC-carte-m%C3%A8re/b?ie=UTF8&node=430341031"
                        alt="Cadre centrale" title="Cadre centrale">
                    <area shape="poly" coords="428,169,428,224,466,221,466,171" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=m%C3%A9moire&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Am%C3%A9moire"
                        alt="mémoire" title="mémoire">
                    <area shape="poly" coords="479,179,475,236,432,237,432,311,560,309,558,178" href="https://www.amazon.fr/Informatique-composant-PC-carte-m%C3%A8re/b?ie=UTF8&node=430341031"
                        alt="Carte mère" title="Carte mère">
                    <area shape="poly" coords="117,66,117,145,253,147,250,63" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=lecteur+de+disque&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Alecteur+de+disque"
                        alt="Lecteur de disque" title="Lecteur de disque">
                    <area shape="poly" coords="263,62,264,150,341,150,340,65" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=lecteur+de+disque&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Alecteur+de+disque"
                        alt="Dessous du lecteur de disque" title="Dessous du lecteur de disque">
                    <area shape="poly" coords="348,58,348,158,416,153,417,61" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=ventilateur&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Aventilateur"
                        alt="Ventilateur et mémoire vive" title="Ventilateur et mémoire vive">
                    <area shape="poly" coords="423,30,424,158,554,160,553,27" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=node%3D430341031&field-keywords=ventilateur&rh=n%3A340858031%2Cn%3A427941031%2Cn%3A430341031%2Ck%3Aventilateur"
                        alt="Cadre du dessus" title="Cadre du dessus">
                </map>
            </div>
            <div>
                <table>
                    <caption>Jeux Xbox One disponible dans la boutique</caption>
                    <thead>
                        <tr>
                            <th>Catégories</th>
                            <th>Titre</th>
                            <th>Éditeur</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="categorie">Super Héro</td>
                            <td>Spider man</td>
                            <td>Insomniac Games</td>
                            <td>66.67$</td>
                        </tr>
                        <tr>
                            <td>Lego marvel</td>
                            <td>TT Games</td>
                            <td>40.43$</td>
                        </tr>
                        <tr>
                            <td>Batman: Arkham Knight</td>
                            <td>Rocksteady Studios</td>
                            <td>67.76$</td>
                        </tr>

                        <tr>
                            <td rowspan="3" class="categorie">Action</td>
                            <td>Prey</td>
                            <td>Bethesda</td>
                            <td>49.99$</td>
                        </tr>
                        <tr>
                            <td>Uncharted</td>
                            <td>Naughty Dog</td>
                            <td>50.55$</td>
                        </tr>
                        <tr>
                            <td>The last of us</td>
                            <td>Naughty Dog</td>
                            <td>33.00$</td>
                        </tr>

                        <tr>
                            <td rowspan="3" class="categorie">RPG Aventure</td>
                            <td>The Witcher 3</td>
                            <td>CD Project red</td>
                            <td>69.99$</td>
                        </tr>
                        <tr>
                            <td>God of war</td>
                            <td>Santa Monica Studio</td>
                            <td>55.55$</td>
                        </tr>
                        <tr>
                            <td>Horizon: Zero Dawn</td>
                            <td>Guerrilla Games</td>
                            <td>70.34$</td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="categorie">Exploration/Fabrication</td>
                            <td>Minecraft PS4 Édition</td>
                            <td>Mojang</td>
                            <td>40.00$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; INF1493 Projet : Fictional original fantastic computer virtual console experience, présenté à Daniel Yapi.
            Tous droits réservés.
            <br>Réalisé par François-Xavier Mousseau
            <br> juin 2018
        </p>
    </footer>
</body>

</html>