<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../style/PS4.css" />
    <link rel="icon" type="image/png" href="../../images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Arbutus" rel="stylesheet">
    <title>FOFCVCE</title>
</head>

<body>
    <header>
        <nav id="top-nav">
            <img src="../../images/favicon.png">
            <span class="spacer"></span>
            <a href="../inscription/index.html">Inscription</a>
        </nav>
        <h1>Fictional original fantastic computer virtual console experience</h1>
        <nav>
            <a href="../../index.html">Accueil</a>
            <a href="../PC/index.html">PC</a>
            <a href="../Xbox/index.html">Xbox One</a>
            <a id="currentPageLink">PS4</a>
            <a href="../NSwitch/index.html">Nintendo Switch</a>
            <a href="../Retro/index.html">Console rétro</a>
        </nav>
    </header>

    <section class="flexbox">
        <div id="gauche">
            <span>Boutique</span>
            <ul>
                <li>
                    <a href="">
                        <img src="../../images/joystick.png">Manette</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/mouse.png">Accessoires</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/ecran.png">Écrans</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/pacman.png">Jeux</a>
                </li>
                <li>
                    <a href="">
                        <img src="../../images/retro.png">Découverte rétro</a>
                </li>
            </ul>
            <span>À propos</span>
            <p>Ce site web est un portail pour tout ce qui est en lien avec les platformes informatiques tels que les ordinateurs
                et consoles</p>
        </div>
        <div id="milieux">
            <div>
               <!--Mettre une iamge des différent composant d'une ps4-->
            </div>
            <div>
                <table>
                    <caption>Jeux Xbox One disponible dans la boutique</caption>
                    <thead>
                        <tr>
                            <th>Catégories</th>
                            <th>Titre</th>
                            <th>Éditeur</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="categorie">Horreur</td>
                            <td>Soma</td>
                            <td>Frictional Games</td>
                            <td>30.67$</td>
                        </tr>
                        <tr>
                            <td>Amnésia</td>
                            <td>Frictional Games</td>
                            <td>20.43$</td>
                        </tr>
                        <tr>
                            <td>Penumbra</td>
                            <td>Frictional Games</td>
                            <td>10.666$</td>
                        </tr>

                        <tr>
                            <td rowspan="3" class="categorie">Action Stratégie</td>
                            <td>Prey</td>
                            <td>Bethesda</td>
                            <td>49.99$</td>
                        </tr>
                        <tr>
                            <td>Call of duty</td>
                            <td>Activision</td>
                            <td>2.00$</td>
                        </tr>
                        <tr>
                            <td>Star wars battlefront</td>
                            <td>Electronic Art</td>
                            <td>33.00$</td>
                        </tr>

                        <tr>
                            <td rowspan="3" class="categorie">RPG Aventure</td>
                            <td>The Witcher 3</td>
                            <td>CD Project red</td>
                            <td>69.99$</td>
                        </tr>
                        <tr>
                            <td>God of war</td>
                            <td>Santa Monica Studio</td>
                            <td>55.55$</td>
                        </tr>
                        <tr>
                            <td>Horizon: Zero Dawn</td>
                            <td>Guerrilla Games</td>
                            <td>70.34$</td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="categorie">Exploration/Fabrication</td>
                            <td>Minecraft PS4 Édition</td>
                            <td>Mojang</td>
                            <td>40.00$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; INF1493 Projet : Fictional original fantastic computer virtual console experience, présenté à Daniel Yapi.
            Tous droits réservés.
            <br>Réalisé par François-Xavier Mousseau
            <br> juin 2018
        </p>
    </footer>
</body>

</html>